<p-toast position="top-center"></p-toast>
<main class="flex w-full flex-col items-start gap-10 pt-14 lg:flex-row lg:items-stretch lg:gap-0">
  <app-metadata-section
    class="w-full flex-1 lg:h-full"
    [filterForm]="filterForm"
    [templates]="templates"
    [presets]="presets"
    [projectTree]="projectTree"
    (presetChange)="onPresetChange($event)"
    (generate)="onGenerate()"
  />
  <app-dependencies-section
    class="w-full flex-[1.5] lg:h-full"
    [filterForm]="filterForm"
    [libraries]="libraries"
  />
</main>
