@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeicons/primeicons.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lilita+One&display=swap");

:root {
  --bg-color: #3d3737;
  --text-color: #efe6de;
  --text-color-fixed: #efe6de;
  --primary-color: #2d322d;
  --primary-color-fixed: #2d322d;
  --secondary-color: #3bac53;
  --toast-error: #e74c3c;
  --toast-warn: #fbbf24;

  --font-family: "Inter", sans-serif, Helvetica;

  --default-radius: 16px;
}

[data-theme="light"] {
  --bg-color: #efe6de;
  --text-color: #3d3737;
  --primary-color: #ffffff;
  --secondary-color: #3bac53;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  padding: 1em 2em !important;
  font-family: var(--font-family);
  color: var(--text-color);
}

.p-toast {
  z-index: 9999 !important;
}

.p-toast .p-toast-message {
  padding: 1rem 1.5rem;
  background: var(--bg-color) !important;
  color: var(--text-color) !important;
  border-radius: var(--default-radius);
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.18);
  border: none;
  font-family: var(--font-family);
  backdrop-filter: blur(2px);
}

.p-toast .p-toast-message .p-toast-message-content {
  align-items: center;
}

.p-toast .p-toast-message-success {
  border-left: 6px solid var(--secondary-color);
}
.p-toast .p-toast-message-error {
  border-left: 6px solid var(--toast-error);
}
.p-toast .p-toast-message-warn {
  border-left: 6px solid var(--toast-warn);
}

.p-toast .p-toast-message .p-toast-message-icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.p-toast .p-toast-message .p-toast-summary {
  font-weight: 700;
  font-size: 1.1rem;
}

.p-toast .p-toast-message .p-toast-detail {
  font-size: 1rem;
  opacity: 0.95;
}
